<head>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<div class="flex items-center justify-center p-12">
  <a href="/home" class="bg-gray-200 hover:bg-gray-100 border-b-4 border-gray-400 hover:border-gray-200 text-black text-center py-2 px-4 rounded">
    Retour
  </a>
  <br> <br>
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="mx-auto w-full max-w-[550px] bg-white">
    <form action="https://formbold.com/s/FORM_ID" method="POST">
      <div class="mb-5">
        <label
          for="numSerCh"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Numero de service de la chambre
        </label>
        <input
          type="number"
          name="numSerCh"
          id="numSerCh"
          placeholder="Entrer le nombre"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div class="mb-5">
        <label
          for="nomSerCh"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Nom de service de la chambre
        </label>
        <input
          type="text"
          name="nomSerCh"
          id="nomSerCh"
          placeholder="Enter le nom de service"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div>
        <button
          class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
        >
          Ajouter service chambre
        </button>
      </div>
    </form>
  </div>
</div>
