<head>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<div class="flex items-center justify-center p-12">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="mx-auto w-full max-w-[550px] bg-white">
    <a href="#" class="bg-gray-200 hover:bg-gray-100 border-b-4 border-gray-400 hover:border-gray-200 text-black text-center py-2 px-4 rounded">
      Retour
    </a>
    <br> <br>
    <form action="https://formbold.com/s/FORM_ID" method="POST">

      <div class="mb-5">
        <label
          for="numeroFact"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Numero de la facture
        </label>
        <input
          type="text"
          name="numeroFact"
          id="numeroFact"
          placeholder="Enter le numero"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>
      <div class="mb-5">
        <label
          for="consmFact"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Consommation de la facture
        </label>
        <textarea
          class="
        form-control
        block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
      "
          id="consmFact"
          rows="5"
          placeholder="Liste des biens consommes"
        ></textarea>
      </div>
      <div class="mb-5">
        <label
          for="prixFact"
          class="mb-3 block text-base font-medium text-[#07074D]"
        >
          Prix de la facture
        </label>
        <input
          type="number"
          name="prixFact"
          id="prixFact"
          placeholder="Enter le prix"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
        />
      </div>

      <div>
        <button
          class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
        >
          Ajouter facture
        </button>
      </div>
    </form>
  </div>
</div>
